{
    "presets": [
        "es2015",
        "react"
    ],
    "env":{
        "development": {

        },
        "production": {

        },
        "lib": {
            "plugins": ["css-modules-transform"]
        }
    }
}